/* header css */
.main-nav {
    background-color :#a8dadc;
    
}
.title-website {
    color: #484848;
}

.main-nav .navbar-nav a.nav-link{
    color: #484848;
    font-weight: 600;
}

.navbar img.main-logo {
    max-width: 70px;

}

.main-nav .navbar-nav .nav-link.active, .main-nav .navbar-nav  .nav-link:hover{
    color :#252525;
}

.navbar.scrolled {
    background-color:#fff;
    transition: background-color 0,8s ease;
    box-shadow: 0px -10px 30px 0px;
}

.navbar.scrolled a.nav-link{
    color: #484848;
}



/* untuk css global */
.main-hijau {
    background-color :#a8dadc;
    color : #484848;
}

.main-hijau h2 span {
    color :#fff
}